{% extends 'flowers/base.html'%}
{% block title %} login {% endblock title %}

{% block content%}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6" style="margin: 20px auto 0 auto;">
                <div class="row text-center m-3">
                    <h2>LOGIN</h2>
                </div>
                <div class="card">
                    <div class="card-body">
                        <form action="{% url 'login' %}" method="POST">
                            {% csrf_token %}
                            <div class="form-group" style="margin: 20px auto;">
                                <input type="text" class="form-control" name="username" placeholder="Username"><br>
                                <input type="password" class="form-control" name="pass1" placeholder="Password"><br>
                            </div>
                            <div class="row" style="margin: 20px auto;">
                                <div class="col-6">
                                    <button type="submit" class="btn btn-success" style="display: block; margin:0 auto;">Signup</button>
                                </div>
                                <div class="col-6">
                                    <button type="reset" class="btn btn-danger" style= "display: block;margin:0 auto;">Reset</button>
                                </div>
                            </div>

                        </form>                     
                        
                    </div>
                </div> 
            </div> 
        </div>
    </div>

{% endblock %}